<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tingnichui.mapper.StockTradeRecordMapper">

    <resultMap id="BaseResultMap" type="com.tingnichui.pojo.po.StockTradeRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="stockCode" column="stock_code" jdbcType="CHAR"/>
            <result property="stockTradeStrategyId" column="stock_trade_strategy_id" jdbcType="BIGINT"/>
            <result property="tradeType" column="trade_type" jdbcType="VARCHAR"/>
            <result property="tradePrice" column="trade_price" jdbcType="DECIMAL"/>
            <result property="tradeDate" column="trade_date" jdbcType="DATE"/>
            <result property="tradeAmount" column="trade_amount" jdbcType="INTEGER"/>
            <result property="done" column="is_done" jdbcType="TINYINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stock_code,stock_trade_strategy_id,
        trade_type,trade_price,trade_date,
        trade_amount,is_done,update_time,
        create_time
    </sql>
</mapper>
